ArchiMetal/OG Exchange Format/archimate_v2p1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.opengroup.org/xsd/archimate"
    targetNamespace="http://www.opengroup.org/xsd/archimate"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    elementFormDefault="qualified"
    version="2.1"
    attributeFormDefault="unqualified">

    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>

    <xs:annotation>
        <xs:documentation>
            XSD Data File Information
            -------------------------
            Author:         The Open Group ArchiMate Forum
            Start date:     2 May 2013
            Revision date:  10 December 2014
            XSD Version:    0.602
            Status:         Working Draft
            Description:    The Open Group ArchiMate Open Exchange Format
        </xs:documentation>
        
        <xs:documentation>

Notes and rationale
-------------------

This is a Snapshot of the ArchiMate Model Exchange File Format.

Snapshots are draft documents, which provide a mechanism
for The Open Group to disseminate information on its
current direction and thinking to an interested audience,
in advance of formal publication, with a view to
soliciting feedback and comment.

A Snapshot represents the interim results of a technical
activity.  Although at the time of publication The Open
Group intends to progress the activity towards publication
of a Preliminary Standard or Open Group Standard, The
Open Group is a consensus organization, and makes no
commitment regarding publication. Similarly, a Snapshot
does not represent any commitment by any member of The
Open Group to make any specific products available.

The ArchiMate Model Exchange File Format is being
implemented in two phases. This Snapshot is for Phase
1 and excludes the detailed visual layout (denoted as
Level 4 below)  which will be included in Phase 2.

It is a starting point and therefore open to debate and improvement!
            
Proposal of different levels of information:
            
Level 1 - A flat list of ArchiMate elements and relationships
with their associated information data (name, documentation, id, idref).
This equates to a repository of elements and relationships.
            
Level 2 - Properties.
            
Level 3 - Structural Organisation.
            
Level 4 - Diagram information referencing the ArchiMate elements and relationships enumerated at Level 1.  
            

This documentation is automatically generated from the XSD that has
been developed. The master XSD file can be obtained with the Snapshot
draft standard from http://www.opengroup.org/bookstore/catalog/ .

A number of example models in the exchange file format are available
for interoperability testing. For details of how to obtain those
files, see the cover pages.

For information on how to provide feedback on this snapshot see the
cover pages.

    </xs:documentation>
    </xs:annotation>


    <!-- ========================== Namespaced extension Group ================================= -->

    <xs:group name="grp.any">
        <xs:annotation>
            <xs:documentation>
                Any namespaced element from any namespace may be included within an "any" element. The
                namespace for the imported element must be defined in the instance, and the schema must be imported.
                The extension has a definition of "strict" i.e. they must have their own namespace.
            </xs:documentation>
        </xs:annotation>

        <xs:sequence>
            <xs:any namespace="##other" processContents="strict" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:group>


    <!-- ==================================== Model Type ================================= -->

    <xs:complexType name="modelType">
        <xs:annotation>
            <xs:documentation>
                This is the root model element.
                It is a container for the elements, relationships, diagrams and organisations of the model.
                
                The "name" element is the name of the model.
                The "documentation" element is for the documentation of the model.
                The "properties" element is optional and is for any property instance of the model.
                The "elements" element is mandatory and is a container for all elements.
                The "relationships" element is optional and is a container for any relationships.
                The "organisation" element is optional and is a container for structural organisation of model elements and relationships.
                The "propertydefs" element is optional and is a container for any property definitions.
            </xs:documentation>
        </xs:annotation>

        <xs:sequence>
            <xs:element name="metadata" type="MetadataType" minOccurs="0" maxOccurs="1" />
            <xs:element name="name" type="langStringType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="documentation" type="langStringType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="properties" type="propertiesType" minOccurs="0" maxOccurs="1" />
            <xs:element name="elements" type="elementsType" minOccurs="1" maxOccurs="1" />
            <xs:element name="relationships" type="relationshipsType" minOccurs="0" maxOccurs="1" />
            <xs:element name="organization" type="organizationType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="propertydefs" type="propertiesDefinitionsType" minOccurs="0" maxOccurs="1" />
            <xs:element name="views" type="viewsType" minOccurs="0" maxOccurs="1" />
            <xs:group ref="grp.any" />
        </xs:sequence>
        <xs:attribute name="identifier" type="xs:ID" use="required" />
        <xs:attribute name="version" type="xs:string" use="optional" />
        <xs:anyAttribute namespace ="##other" processContents ="strict" />
    </xs:complexType>
    
    <!-- ==================================== Element Types ================================= -->

    <xs:complexType name="elementsType">
        <xs:annotation>
            <xs:documentation>
                This is a container for the elements of the model.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="element" type="elementType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="elementType">
        <xs:annotation>
            <xs:documentation>
                A base element type that can be extended by concrete ArchiMate types.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="label" type="langStringType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="documentation" type="langStringType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="properties" type="propertiesType" minOccurs="0" maxOccurs="1" />
            <xs:group ref="grp.any" />
        </xs:sequence>
        <xs:attribute name="identifier" use="required" type="xs:ID" />
        <xs:anyAttribute namespace ="##other" processContents ="strict" />
    </xs:complexType>
    
    <!-- ==================================== Relations Types ================================= -->

    <xs:complexType name="relationshipsType">
        <xs:annotation>
            <xs:documentation>
                This is a container for the relationships of the model.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="relationship" type="relationshipType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="relationshipType">
        <xs:annotation>
            <xs:documentation>
                A base relationship type that can be extended by concrete ArchiMate types.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="label" type="langStringType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="documentation" type="langStringType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="properties" type="propertiesType" minOccurs="0" maxOccurs="1" />
            <xs:group ref="grp.any" />
        </xs:sequence>
        <xs:attribute name="identifier" type="xs:ID" use="required" />
        <xs:attribute name="source" type="xs:IDREF" use="required" />
        <xs:attribute name="target" type="xs:IDREF" use="required" />
        <xs:anyAttribute namespace ="##other" processContents ="strict" />
    </xs:complexType>

    <!-- ==================================== Properties Types ================================= -->

    <xs:complexType name="propertiesDefinitionsType">
        <xs:annotation>
            <xs:documentation>
                This is a container for all the Property definition types used globally in the model.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="propertydef" type="propertyDefinitionType" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="propertyDefinitionType">
        <xs:annotation>
            <xs:documentation>
                A Property definition type containg its unique identifier, name, and data type.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="identifier" type="xs:ID" use="required" />
                <xs:attribute name="name" type="xs:string" use="required" />
                <xs:attribute name="type" type="dataType" use="required" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="propertiesType">
        <xs:annotation>
            <xs:documentation>
                A container for all of the Property value instances for an element/relationship.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="property" type="propertyType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="propertyType">
        <xs:annotation>
            <xs:documentation>
                A Property instance type declaring the reference to a Property definition and containing the Property value.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="value" type="langStringType" minOccurs="1" maxOccurs="unbounded" />
            <xs:group ref="grp.any" />
        </xs:sequence>
        <xs:attribute name="identifierref" type="xs:IDREF" use="required" />
    </xs:complexType>
    
    <xs:simpleType name="dataType">
        <xs:annotation>
            <xs:documentation>
                An enumeration of data types.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="string" />
            <xs:enumeration value="boolean" />
            <xs:enumeration value="currency" />
            <xs:enumeration value="date" />
            <xs:enumeration value="number" />
        </xs:restriction>
    </xs:simpleType>

    <!-- ==================================== Organizational Types ================================= -->

    <xs:complexType name="organizationType">
        <xs:annotation>
            <xs:documentation>
                This is a container for organizing elements and relationship references in the model using items.
            </xs:documentation>
        </xs:annotation>
        <xs:choice maxOccurs="unbounded">
            <xs:element name="item" type="itemType" minOccurs="0" maxOccurs="unbounded" />
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="itemType">
        <xs:annotation>
            <xs:documentation>
                An item element represents a structural node in a particular organization.
                An item element may be a parent or sibling of other Item elements,
                each one representing a unique structural node.
                
                An item element may reference an ArchiMate element, ArchiMate relationship,
                or nothing (in which case it is a structural container)

                An organization has no meaning unless it has at least one Item element.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="label" type="langStringType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="documentation" type="langStringType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="item" type="itemType" minOccurs="0" maxOccurs="unbounded" />
            <xs:group ref="grp.any" />
        </xs:sequence>
        <xs:attribute name="identifier" type="xs:ID" use="optional" />
        <xs:attribute name="identifierref" type="xs:IDREF" use="optional" />
        <xs:anyAttribute namespace="##other" processContents="strict" />
    </xs:complexType>

    <!-- =========================== Metadata Type ========================== -->

    <xs:complexType name="MetadataType">
        <xs:annotation>
            <xs:documentation>
                An instance of the metadata element contains data structures
                that declare descriptive information about a metadata element's
                parent only.

                One or more different metadata models may be declared as
                child extensions of a metadata element.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="schema" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="schemaversion" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:group ref="grp.any" />
        </xs:sequence>
    </xs:complexType>

    <!-- =========================== Other Types ========================== -->

    <xs:complexType name="langStringType">
        <xs:annotation>
            <xs:documentation>
                A base string type for multi-language strings
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute ref="xml:lang" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- =========================== Views ========================== -->

    <xs:complexType name="viewsType">
        <xs:annotation>
            <xs:documentation>
                This is a container for all of the Views in the model.
                Must contain at least one View.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="view" type="viewType" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="viewType">
        <xs:annotation>
            <xs:documentation>
                Container for a View type.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="label" type="langStringType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="documentation" type="langStringType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="properties" type="propertiesType" minOccurs="0" maxOccurs="1" />
            <xs:element name="node" type="nodeType" minOccurs="0" maxOccurs="unbounded" />
            <xs:group ref="grp.any" />
        </xs:sequence>
        <xs:attribute name="identifier" use="required" type="xs:ID" />
        <xs:attribute name="viewpoint" use="optional" type="viewpointsEnum" />
        <xs:anyAttribute namespace ="##other" processContents ="strict" />
    </xs:complexType>

    <xs:complexType name="nodeType">
        <xs:annotation>
            <xs:documentation>
                Graphical node type. It can contain other node types.
                If the 'elementref' attribute is present, it should reference an ArchiMate element.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="label" type="langStringType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="documentation" type="langStringType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="properties" type="propertiesType" minOccurs="0" maxOccurs="1" />
            <xs:element name="fillColor" type="rgbColorType" minOccurs="0" maxOccurs="1" />
            <xs:element name="node" type="nodeType" minOccurs="0" maxOccurs="unbounded" />
            <xs:group ref="grp.any" />
        </xs:sequence>
        <xs:attribute name="identifier" use="required" type="xs:ID" />
        <xs:attribute name="elementref" type="xs:IDREF" use="optional" />
        <xs:attribute name="x" use="required" type="xs:integer" />
        <xs:attribute name="y" use="required" type="xs:integer" />
        <xs:attribute name="w" use="required" type="xs:integer" />
        <xs:attribute name="h" use="required" type="xs:integer" />
        <xs:anyAttribute namespace ="##other" processContents ="strict" />
    </xs:complexType>

    <xs:complexType name="rgbColorType">
        <xs:annotation>
            <xs:documentation>
                RGB Color type.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="r" use="required" type="xs:unsignedByte" />
        <xs:attribute name="g" use="required" type="xs:unsignedByte" />
        <xs:attribute name="b" use="required" type="xs:unsignedByte" />
    </xs:complexType>

	<xs:simpleType name="viewpointsEnum">
        <xs:annotation>
            <xs:documentation>
                Enumeration of Viewpoint types.
            </xs:documentation>
        </xs:annotation>
	    <xs:restriction base="xs:string">
			<xs:enumeration value="Introductory"/>
			<xs:enumeration value="Organization"/>
			<xs:enumeration value="Actor Co-operation"/>
			<xs:enumeration value="Business Function"/>
			<xs:enumeration value="Business Process"/>
			<xs:enumeration value="Business Process Co-operation"/>
			<xs:enumeration value="Product"/>
			<xs:enumeration value="Application Behavior"/>
			<xs:enumeration value="Application Co-operation"/>
			<xs:enumeration value="Application Structure"/>
			<xs:enumeration value="Application Usage"/>
			<xs:enumeration value="Infrastructure"/>
			<xs:enumeration value="Infrastructure Usage"/>
			<xs:enumeration value="Implementation and Deployment"/>
			<xs:enumeration value="Information Structure"/>
			<xs:enumeration value="Service Realization"/>
			<xs:enumeration value="Layered"/>
			<xs:enumeration value="Landscape Map"/>
			<xs:enumeration value="Stakeholder"/>
			<xs:enumeration value="Goal Realization"/>
			<xs:enumeration value="Goal Contribution"/>
			<xs:enumeration value="Principles"/>
			<xs:enumeration value="Requirements Realization"/>
			<xs:enumeration value="Motivation"/>
			<xs:enumeration value="Project"/>
			<xs:enumeration value="Migration"/>
			<xs:enumeration value="Implementation and Migration"/>
	    </xs:restriction>
	</xs:simpleType>

    <!-- =========================== Business Layer Element Types ========================== -->

    <xs:complexType name="BusinessActor">
        <xs:complexContent>
            <xs:extension base="elementType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="BusinessCollaboration">
        <xs:complexContent>
            <xs:extension base="elementType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="BusinessEvent">
        <xs:complexContent>
            <xs:extension base="elementType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="BusinessInterface">
        <xs:complexContent>
            <xs:extension base="elementType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="BusinessInteraction">
        <xs:complexContent>
            <xs:extension base="elementType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="BusinessFunction">
        <xs:complexContent>
            <xs:extension base="elementType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="BusinessObject">
        <xs:complexContent>
            <xs:extension base="elementType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="BusinessProcess">
        <xs:complexContent>
            <xs:extension base="elementType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="BusinessRole">
        <xs:complexContent>
            <xs:extension base="elementType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="BusinessService">
        <xs:complexContent>
            <xs:extension base="elementType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Contract">
        <xs:complexContent>
            <xs:extension base="elementType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Location">
        <xs:complexContent>
            <xs:extension base="elementType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Meaning">
        <xs:complexContent>
            <xs:extension base="elementType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Product">
        <xs:complexContent>
            <xs:extension base="elementType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Representation">
        <xs:complexContent>
            <xs:extension base="elementType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Value">
        <xs:complexContent>
            <xs:extension base="elementType" />
        </xs:complexContent>
    </xs:complexType>

    <!-- =========================== Application Layer Element Types ========================== -->

    <xs:complexType name="ApplicationCollaboration">
        <xs:complexContent>
            <xs:extension base="elementType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ApplicationComponent">
        <xs:complexContent>
            <xs:extension base="elementType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ApplicationFunction">
        <xs:complexContent>
            <xs:extension base="elementType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ApplicationInteraction">
        <xs:complexContent>
            <xs:extension base="elementType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ApplicationInterface">
        <xs:complexContent>
            <xs:extension base="elementType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ApplicationService">
        <xs:complexContent>
            <xs:extension base="elementType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DataObject">
        <xs:complexContent>
            <xs:extension base="elementType" />
        </xs:complexContent>
    </xs:complexType>

    <!-- =========================== Technology Layer Element Types ========================== -->

    <xs:complexType name="Artifact">
        <xs:complexContent>
            <xs:extension base="elementType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="CommunicationPath">
        <xs:complexContent>
            <xs:extension base="elementType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Device">
        <xs:complexContent>
            <xs:extension base="elementType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="InfrastructureFunction">
        <xs:complexContent>
            <xs:extension base="elementType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="InfrastructureInterface">
        <xs:complexContent>
            <xs:extension base="elementType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="InfrastructureService">
        <xs:complexContent>
            <xs:extension base="elementType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Network">
        <xs:complexContent>
            <xs:extension base="elementType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Node">
        <xs:complexContent>
            <xs:extension base="elementType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SystemSoftware">
        <xs:complexContent>
            <xs:extension base="elementType" />
        </xs:complexContent>
    </xs:complexType>

    <!-- =========================== Motivation Extension Element Types ========================== -->

    <xs:complexType name="Assessment">
        <xs:complexContent>
            <xs:extension base="elementType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Constraint">
        <xs:complexContent>
            <xs:extension base="elementType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Driver">
        <xs:complexContent>
            <xs:extension base="elementType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Goal">
        <xs:complexContent>
            <xs:extension base="elementType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Principle">
        <xs:complexContent>
            <xs:extension base="elementType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Requirement">
        <xs:complexContent>
            <xs:extension base="elementType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Stakeholder">
        <xs:complexContent>
            <xs:extension base="elementType" />
        </xs:complexContent>
    </xs:complexType>

    <!-- =========================== Implementation & Migration Extension Element Types ========================== -->

    <xs:complexType name="Deliverable">
        <xs:complexContent>
            <xs:extension base="elementType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Gap">
        <xs:complexContent>
            <xs:extension base="elementType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Plateau">
        <xs:complexContent>
            <xs:extension base="elementType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="WorkPackage">
        <xs:complexContent>
            <xs:extension base="elementType" />
        </xs:complexContent>
    </xs:complexType>

    <!-- =========================== Junction Type ========================== -->

    <xs:complexType name="Junction">
        <xs:annotation>
            <xs:documentation>
                Junction is a special case. It is treated as an element.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="elementType" />
        </xs:complexContent>
    </xs:complexType>
    

    <!-- =========================== Relationship Types ========================== -->

    <xs:complexType name="AccessRelationship">
        <xs:complexContent>
            <xs:extension base="relationshipType" />
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="AggregationRelationship">
        <xs:complexContent>
            <xs:extension base="relationshipType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AssignmentRelationship">
        <xs:complexContent>
            <xs:extension base="relationshipType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AssociationRelationship">
        <xs:complexContent>
            <xs:extension base="relationshipType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="CompositionRelationship">
        <xs:complexContent>
            <xs:extension base="relationshipType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="FlowRelationship">
        <xs:complexContent>
            <xs:extension base="relationshipType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="InfluenceRelationship">
        <xs:complexContent>
            <xs:extension base="relationshipType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="RealisationRelationship">
        <xs:complexContent>
            <xs:extension base="relationshipType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SpecialisationRelationship">
        <xs:complexContent>
            <xs:extension base="relationshipType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="TriggeringRelationship">
        <xs:complexContent>
            <xs:extension base="relationshipType" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="UsedByRelationship">
        <xs:complexContent>
            <xs:extension base="relationshipType" />
        </xs:complexContent>
    </xs:complexType>



    <!-- =========================== Declaration of the Root Element ========================== -->

    <xs:element name="model" type="modelType" />

</xs:schema>
